<% provide(:title, 'Your Cart') %>

<p id = "notice"><%= notice %></p>

<div id = "itemsContainer">
    
    
    <% if @cart.empty? %>
    <p>Your cart is empty! Why not add something?</p>
    <% end %>
    
    <table id = "customers">
        
        <% total = 0 %>
        
        <% @cart.each do |id, quantity| %>
        
        <% vinyl = Vinyl.find_by_id(id) %>
        
        <tr>
            
            <td>
                
                <div class = "image">
                    
                    <%= link_to (image_tag vinyl.image_url, :style => "height: 40px"), vinyl %>
                    
                </div>
                
            </td>
            
            <td class = "artist"><%= link_to vinyl.artist, vinyl %></td>
            <td class = "title"><%= link_to vinyl.title, vinyl %></td>
            <td><a href = "/cart/remove/<%= vinyl.id %>">Remove From Cart</a></td>
            <td class = "price"><%= number_to_currency(vinyl.price, :unit => "€") %></td>
            <td class = "quantity"><%= quantity %></td>
            <td class = "price"><%= number_to_currency(quantity * vinyl.price, :unit => "€") %></td>
            
        </tr>

            <tr>
            <%= total += quantity * vinyl.price %>
             </tr>
        
        <% end %>
        
        <tr>
            
            Total : <%= number_to_currency(total, :unit => "€") %>
            
        </tr>
        
        <td>
            
            <a href = "/cart/clear" class = "button">Empty Cart</a>
            
        </td>
        
        
    </table>
    
</div>